@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Macher Client</h1>


@for (int i = 0; i < 16; i++)
{
    <div class="container">
        @for (int j = 0; j < 16; j++)
        {
            <div class="square" 
                style="background-color: rgb(@Model.reds[i, j], @Model.greens[i, j], @Model.bleus[i, j])"></div>

        }
    </div>
}